@import "../../../styles/index.scss";

.formattingMenu {
	position: absolute;
	left: 100%;
	top: 0;
	padding-left: 3%;

	&__options {
		background-color: $white;
		padding: 2px;
		border-radius: 0px;

		:global {
			.MuiButton-root {
				margin: 6px;
				border-radius: 0;
				height: 40px;
			}
		}
	}
}
