# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env

# Virtual environment
/venv/
/env/
pyvenv.cfg
lib64/
lib/
share/
bin/

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Package metadata
pip-wheel-metadata/
*.egg-info/
