// * Green Notes
$green-note: #2ce689;
$green-note-shadow-color: #2ce6896e;

// * Yellow Notes
$yellow-note: #ece92a;
$yellow-note-shadow-color: #e6e216;

// * Blue Notes
$blue-note: #448dec;
$blue-note-shadow-color: #448decd2;

// * Red Notes
$red-note: #cf3937;
$red-note-shadow-color: #cf3a37be;

// * Orange Notes
$orange-note: #f5a753;
$orange-note-shadow-color: #f5a753c0;

// * White
$white: #fff;

// * Shadows
$shadow-main: 5px 5px 5px #1618176e;
$shadow-hover: 5px 5px 12px #05050581;
